h1{
	color: blue;
	margin-bottom: 5px;
}
.link{
	background-color: red;
	margin-bottom: 10px;
	padding: 20px;
}
.input{
	background-color: blue;
	margin-bottom: 10px;
	padding: 20px;
}
.input form input{
	margin: 5px;
}
label{
	
	display: inline-block;
	width: 70px;
	
}

div input{
	margin-bottom: 4px;
	padding-bottom: 3px;
}
a{
	color: navy;
}
div form table tr
{
	text-align: left;
}